body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container, .table-wrapper {
  width: 50%;
  margin: 50px auto;
}

.error-msg {
  color: red;
}

.password-error-msg {
  position: absolute;
  top: 70%;
  color: red;
}

.username-error-msg {
  color: red;
}

.submit {
  margin-top: 1rem;
}